<!doctype html>
<html lang="en-US" ng-app="app">
  <head>
    <meta charset="UTF-8">
    <title>Angular Demo - Closures</title>
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <h1>Closures</h1>
    <div ng-controller="MainCtrl">
      <div counter><button ng-click="increment()">Clicky!</button></div>
      <div counter><button ng-click="increment()">Clicky!</button></div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="scripts/app.js"></script>
  </body>
</html>
